@font-face {
    font-family: 'BonaNova';
    src: url(fontes/BonaNova-Regular.ttf);
}

@font-face {
    font-family: 'Bona-Bold';
    src: url(fontes/BonaNova-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(fontes/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Monda';
    src: url(fontes/Monda-Regular.ttf);
}

@font-face {
    font-family: 'Monda-Bold';
    src: url(fontes/Monda-Bold.ttf);
}

body {
    margin: 0;
    background-color: #9E8466;

}

.header {
    position: absolute;
    width: 100%;
    padding: 10px 0;
    /* Espaçamento interno */
    background-color: rgb(0, 0, 0, 0.2);
    /* o ultimo numero é a opacidade da navbar */
}

.header .container .navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.header .container .navbar li {
    margin: 10px;
    padding: 0 50px;
    /* espaço entre as palavras da navbar */
    margin-top: 30px;
    /* deixando as palavras da navbar no meio */
}

.header .container .navbar li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.header .container .navbar .login-link {
    margin-top: 0.5%;

}

.header .container .navbar .frame-login {
    display: flex;
    width: 50px;
    height: 20px;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    gap: 9.945px;
    /* estilo do frame*/
    border-radius: 5px;
    /* canto arredondado */
    border-radius: 5px;
    border: 0.994px solid #fff;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(imagens-serie/header3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



.conteudo0 .recipienteDiario {
    margin: 4% 0px 20px 20%;

}

.recipienteDiario h2 {
    color: white;
    font-family: Monda;
    font-size: 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;

}

.recipienteDiario p {
    color: #fafafa;
    font-family: Montserrat;
    width: 500px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.8px;
    line-height: 25px;
}

.ElenaDiario {
    margin-top: -400px;
    margin-left: 500px;

}

.imgElenaDiario {
    width: 550px;
    height: 350px;
    border-top-left-radius: 50px;
    border-end-start-radius: 50px;
    margin: 20px 20px;
}

.recipienteDiario2 {
    margin-top: 150px;
}

.recipienteDiario2 p {
    font-family: Monda;
    font-weight: 200;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}


.conteudo1 {
    background-color: #443527;
    height: 1780x;

}

.conteudo1 .recipienteApresentacao .logo-recipienteApresentacao {
    justify-content: center;
    display: flex;


}

.logoTVD {
    height: 120px;
    margin: 40px;
    margin: 50px 50px;
}

.recipienteColunasSobre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.caixaDireita {
    width: 1000px;
    height: 600px;
    background-color: #584634;
    box-shadow: 0px 4px 4px #00000040;
    /* serve para colocar sombra na caixa aqui */
    margin: 0px 0px 0px 30px;


}

.caixaDireita h2 {
    color: #ffffff;
    font-family: 'BonaNova';
    text-align: center;
    text-transform: uppercase;
    line-height: 41.2px;
    letter-spacing: 0.8px;
    font-weight: 400;

}

.caixaDireita p {
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: 'Montserrat';
    line-height: 25.8px;
    text-align: center;
    margin: 20px 40px 50px 40px;
}


.caixaEsquerda {
    background-color: #584634;
    width: 450px;
    height: 600px;
    box-shadow: 0px 4px 4px #00000040;
    align-self: stretch;

}

.caixaEsquerda p {
    color: #ffffff;
    font-family: "Bona Nova";
    text-align: center;
    font-size: 20px;
}

.imagemCaixaEsquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.imgCidade {
    height: 350px;
    width: 400px;
    border-radius: 20px;
}

.imagemTrio {
    display: flex;
    justify-content: center;
}

.pngTrio {
    height: 700px;
}

.conteudo2 {
    color: #ffffff;
    background-color: #6E5D4E;
}

.conteudo2 h1 {
    color: white;
    text-align: center;
    font-family: 'Montserrat';
    line-height: 82.500px;
    font-weight: 400;
    letter-spacing: 1.6px;
    font-size: 39px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.conteudo2 p {
    color: white;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 25px;

}

.conteudo2 .sessaoEspecies1 .especie p {
    margin: 5px;
}

.conteudo2 .subtituloConteudo2 {
    color: white;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 25px;
}

.sessaoEspecies1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessaoEspecies2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo2 .sessaoEspecies2 .especie p {
    margin: 5px;
}

.imgElenaVampira {
    width: 350px;
    height: 250px;
    border-radius: 20px;
    display: flex;

}

.imgLobisomem {
    width: 350px;
    height: 250px;
    border-radius: 20px;
    display: flex;
}

.imgElijahVampiro {
    width: 350px;
    height: 250px;
    border-radius: 20px;
    display: flex;
}

.imgKlausHibrido {
    width: 350px;
    height: 250px;
    border-radius: 20px;
    display: flex;
}

.Doppelgangers {
    width: 350px;
    height: 250px;
    border-radius: 20px;
    display: flex;
}

.imgBruxa {
    width: 350px;
    height: 250px;
    border-radius: 20px;
    display: flex;

}

.especie {
    text-align: center;
    margin: 15px;
}

.linhaTitulo {
    width: 465px;
    border: 2px solid #8e8e8e;   
    display: flex;
    margin-left: 38%;
    
   
}