@font-face {
    font-family: 'BonaNova';
    src: url(fontes/BonaNova-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(fontes/Montserrat-VariableFont_wght.ttf);
}

body {
    margin: 0;
    background-color: #9E8466;

}

.header {
    position: absolute;
    width: 100%;
    padding: 10px 0;
    /* Espaçamento interno */
    background-color: rgb(0, 0, 0, 0.2);
    /* o ultimo numero é a opacidade da navbar */
}

.header .container .navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.header .container .navbar li {
    margin: 10px;
    padding: 0 50px;
    /* espaço entre as palavras da navbar */
    margin-top: 30px;
    /* deixando as palavras da navbar no meio */
}

.header .container .navbar li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.header .container .navbar .login-link {
    margin-top: 0.5%;

}

.header .container .navbar .frame-login {
    display: flex;
    width: 50px;
    height: 20px;
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    gap: 9.945px;
    /* estilo do frame*/
    border-radius: 5px;
    /* canto arredondado */
    border-radius: 5px;
    border: 0.994px solid #fff;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(imagens-serie/header3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.content1 {
    background-color: #443527;
}
.content1 .apresentacao .logo-content1 {
    justify-content: center;
    display: flex;
    margin-top: 5%;
    height: 120px;
}

.containerColunasSobre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.caixaDireita {
    width: 1000px;
    height: 500px;
    background-color: #584634;
    box-shadow: 0px 4px 4px #00000040;
    /* serve para colocar sombra na caixa aqui */
    margin: 1%;
    /* Define margens de 10px (superior), 20px (direita), 15px (inferior) e 5px (esquerda). */
    float: left;

}

.caixaDireita h2 {
    color: #ffffff;
    font-family: 'BonaNova';
    text-align: center;
    margin: 40px;
}

.caixaDireita p {
    color: #ffffff;
    font-size: 18px;    
    letter-spacing: 0.5px;
    font-family: 'Montserrat';
    line-height: 25.8px;    
    text-align: center;
    margin: 50px;
}


.caixaEsquerda {
    background-color: #584634;
    width: 450px;
    height: 500px;
    box-shadow: 0px 4px 4px #00000040;
    float: left;

}

.imagemCaixaEsquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.imgCidade {
    height: 350px;
    width: 400px;
    border-radius: 20px;
}