@font-face {
    font-family: 'BonaNova';
    src: url(fontes/BonaNova-Regular.ttf);
}

@font-face {
    font-family: 'Bona-Bold';
    src: url(fontes/BonaNova-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(fontes/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Monda';
    src: url(fontes/Monda-Regular.ttf);
}

@font-face {
    font-family: 'Monda-Bold';
    src: url(fontes/Monda-Bold.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(fontes/Poppins-Light.ttf);
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F2DCB0;
}

.border {
    border: 2px solid red;
}

/* usar para entender tamanho dos elementos */

.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    background-color: #B19877;
}

.sidebarMarrom {
    background-color: #584634;
    height: 300px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarMarrom p {
    color: white;
    font-family: 'Montserrat';
    margin-top: 15px;
    font-size: 20px
}

.imagemPerfil {
    width: 170px;
}

.sidebar p {
    text-align: center;
}

.sidebar button {
    height: 60px;
    background: transparent;
    border: 0;
    font-family: 'Montserrat';
    color: white;
    cursor: pointer;
    /* pointer serve para simbolizar que é um link */
    text-align: left;
}

.sidebar button>span {
    /* dentro de um botao, diretamente no Filho que tenha um span */
    display: inline-flex;
    align-items: center;
    gap: 12px;
    /* espaçamento entre o icone e o texto */
    height: 48px;
    padding: 0 16px 0 23px;
    /* o padding alinhou os itens no centro */
    border-radius: 25px;
    transition: 0.2s;
    /* transição quando passa o mouse no botão */
    margin-left: 15px;
    /*afastar o botão da lateral esquerda */
    margin-top: 15px;
}

/*essa classe serve para quando passar o mouse em cima, dar um fundo diferente  */
/* aqui embaixo significa: dentro do botão, temos o span */
.sidebar button:hover>span {
    background-color: #d2bc9f;
}


.main {
    margin-left: 240px;
    /* o tamanho da sidebar é 240px, logo, 240px de margem a esquerda*/
    overflow: hidden;
}

.barraBoasVindas {
    background-color: #DCC495;
    width: 100%;
    height: 60px;
}

.boxTexto>span {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 20px;
    padding: 20px;
}

.BoxNovaEntrada,
.boxDiariosAntigos {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 90px;
    margin-top: 70px;

}

.caixaNovaEntrada,
.caixaDiariosAntigos {
    background-color: #E5D1A9;
    width: 900px;
    height: 600px;
}

.boxTituloNovaEntrada {
    width: 100%;
    height: 80px;
    background-color: #CEB98E;
}

.boxTituloNovaEntrada>span {
    color: white;
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    line-height: normal;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.tituloDiario {
    margin-left: 40px;
    margin-top: 20px;
}

.tituloDiario>span {
    color: white;
    font-family: 'Montserrat';
    font-size: 25px;

}

#input_tituloDiario {
    background-color: #CEB98E;
    border: none;
    width: 800px;
    height: 30px;
    outline: none;
}

.caixaConteudo {
    margin-left: 40px;
    margin-top: 20px;
}

.caixaConteudo>label {
    color: white;
    font-family: 'Montserrat';
    font-size: 25px;    
}

.caixaConteudo textarea {
    resize: none  !important;
    /* coloquei o importante para impedir que o usuário consiga redimensionar a caixa de texto */
    outline: none; /* remove a borda padrão quando clica */
}

/* .caixaConteudo textarea:focus {
    box-shadow: 0 0 0 2px #CEB98E;
    /*  adiciona uma borda ao clicar  
   } */

#conteudoDiario {
    background-color: #CEB98E;
    border: none;
    width: 800px;
    height: 350px;
}

.botaoSalvar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaoSalvar>span {
    color: black;
    font-family: 'Poppins';
}

.caixaBuscar {
  
}

.caixaBuscar {
    font-family: 'Poppins';
}